/* ===============button setup ============== */
.ui-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem 1rem;

    border: 1px solid transparent;
    border-radius: var(--ui-radius-md);

    font-family: inherit;
    font-size: var(--ui-font-size-sm);
    font-weight: 500;

    line-height: 1.5;

    cursor: pointer;

    transition:
        background-color 0.15s ease,
        border-color 0.15s ease,
        color 0.15s ease,
        box-shadow 0.15s ease;
}

.ui-button:focus-visible {
    outline: 2px solid var(--ui-color-primary);
    outline-offset: 2px;
}

.ui-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Primary */

.ui-button-primary {
    color: var(--ui-color-white);
    background-color: var(--ui-color-primary);
}

.ui-button-primary:hover:not(:disabled) {
    background-color: var(--ui-color-primary-hover);
}

/* Secondary */

.ui-button-secondary {
    color: var(--ui-color-white);
    background-color: var(--ui-color-secondary);
}

.ui-button-secondary:hover:not(:disabled) {
    background-color: var(--ui-color-secondary-hover);
}

/* Danger */

.ui-button-danger {
    color: var(--ui-color-white);
    background-color: var(--ui-color-danger);
}

/* Success */

.ui-button-success {
    color: var(--ui-color-white);
    background-color: var(--ui-color-success);
}


/* ========= button sizes ========== */
.ui-button-sm {
    padding: 0.25rem 0.625rem;
    font-size: 0.75rem;
}

.ui-button-md {
    padding: -1.5rem 1rem;
    font-size: var(--ui-font-size-sm);
}

/* Large */
.ui-button-lg {
    padding: 0.75rem 1.5rem;
    font-size: var(--ui-font-size-md);
}

/* ===== add outline variant ========== */

/* Medium (default) */

.ui-button-outline {
    color: var(--ui-color-primary);
    background-color: transparent;
    border-color: var(--ui-color-primary);
}

.ui-button-outline:hover:not(:disabled) {
    color: var(--ui-color-white);
    background-color: var(--ui-color-primary);
}


/* button full width option */

.ui-button-block {
    display: flex;
    width: 100%;
}
